* {
    margin:0px;
    padding:0px;   
}    
img {width: 200px;}

.wide {
    height: 200px;
    width: auto;
}

body {
    background-color: rgb(114, 49, 49)
}

ul {
    list-style:none;
}

.scoreBox {
    border:solid black;
    background-color: beige;
    padding-left:1em;
}

button {
    color:rgb(255, 255, 255);
    background-color:rgb(21, 103, 174);
    border:none;
    border-radius:10px;

    width:8em;
    height:4em;
    cursor:pointer;
}

ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
   
}

li {
    padding:20px;
}

#title {
    text-align: center;
    background-color: bisque;
    color:rgb(37, 64, 65);
    padding:20px;
}

#action-statement {
    text-align:center;
    padding:12px;
    color:rgb(21, 103, 174);
}

.scoreboard {
    align-items: center;
}