* {
    margin:0px;
    padding:0px;   
}    



body {
    background-color: rgba(19, 8, 104, 0.226);
    display:flex;
    flex-direction:column;
}

ul {
    list-style:none;
}



button {
    color:rgb(255, 255, 255);
    background-color:rgb(24, 111, 187);
    border:none;
    border-radius:10px;

    width:8em;
    height:4em;
    cursor:pointer;
}

button:hover {
    background-color:rgb(17, 83, 141);
}

ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

li {
    padding:20px;
}

#title {
    text-align: center;
    background-color: rgb(241, 213, 171);
    color:rgb(1, 84, 7);
    padding:20px;
}

#actionStatement {
    text-align:center;
    padding:12px;
    color:rgb(179, 60, 21);
}

#scoreBoard {
    display:grid;
    border:5px solid rgb(211, 119, 21);
    width:150px;
    height:100px;
    align-self:center;
    border-radius:10%;

    grid-template-rows:1fr 3fr;
    grid-template-columns:1fr 1fr;
}

.score, .label{
    align-self: center;
    justify-self:center;
    color:rgb(179, 60, 21);
}


.score{
    font-size:36px;

}