img {width: 200px;}

.wide {
    height: 200px;
    width: auto;
}

body {
    background-color: white
}

ul {
    list-style:none;
}

.scoreBox {
    border:solid black;
    background-color: beige;
}